<div class="outer-table">
    <div class="inner-table">
        <div class="container text-center">
            <h2>Vegebot Statistics Web App</h2>
            <p>Vegebot statistics is server-specific. To generate the link for your server, type "vege stats" in the server you would like to see statistics for.</p>
        </div>
    </div>
</div>