<h3>Channel Message Statistics for <%= @server_name %></h3>

<%= bar_chart @data, xtitle: "Message Count", ytitle: "Channel name", title: "Total channel messages", height: "#{barchart_height(@data.length())}px"%>