<h3>Channel Message Statistics for <%= @server_name %></h3>

<ol>
<%sorted_ids = @data.keys.sort_by {|channel_id| -@data[channel_id][:count]}
sorted_ids.each do |channel_id| %>
  <li><%= @data[channel_id][:name] %>: <%= @data[channel_id][:count] %></li>
<% end %>
</ol>