<h1>Top words for <%= @server_name %></h1>

<div class="card mt-5">
    <div class="card-header">
        <h3>Total Word Count</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                <% @word_counts.each do |w| %>
                    <tr>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><%= w[0]%></td>
                        <td><%= w[1]%></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>