<h3>User Message Statistics for <%= @server_name %></h3>

<%= bar_chart @data, xtitle: "Message Count", ytitle: "Username", title: "Total user messages", height: "#{barchart_height(@data.length())}px"%>